<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Edit User</title>
  </head>
  <body>
    <h1>Edit User</h1>
    <form action="/users/<%=data.id%>?_method=PATCH" method="post">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" value="<%=data.username%>" />
      <label for="email">Email</label>
      <input type="text" id="email" name="email" value="<%=data.email%>" />
      <label for="password">Password</label>
      <input type="text" id="password" name="password" placeholder="enter password" />
      <p>Id : <%=data.id%></p>
      <p>Password : <%=data.password%></p>
      <button>Edit</button>
    </form>
  </body>
</html>
